version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: spring
      MYSQL_PASSWORD: MySpringApp@123
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: spring-backend
    ports:
      - "8081:8081"
    depends_on:
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: docker

  frontend:
    build: ./frontend
    container_name: vue-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mysql_data:
